# Variables de entorno
.env

# Binarios de Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/build/

# Archivos de dependencias
/vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Temporal
/tmp/